<!-- require APlayer -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<!-- require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>

<h1>Soft Music</h1> 
<br>
<meting-js
    server="netease"
    type="playlist"
    id="5432637778"
    autoplay="false"
    theme="#CC0000"
    list-max-height="340px"
    preload="none">
</meting-js>
<br>
<br>
<br>

<h1>Rap</h1> 
<br>
<meting-js
    server="netease"
    type="playlist"
    id="5468701885"
    autoplay="false"
    theme="#CC0000"
    list-max-height="340px"
    preload="none">
</meting-js>

<br>
<br>
<br>

<h1>Trap</h1> 
<br>
<meting-js
    server="netease"
    type="playlist"
    id="5432831509"
    autoplay="false"
    theme="#CC0000"
    list-max-height="340px"
    preload="none">
</meting-js>

<br>
<br>
<br>

<h1>粤语</h1>   
<br>
<meting-js
    server="netease"
    type="playlist"
    id="6999807653"
    autoplay="false"
    theme="#CC0000"
    list-max-height="340px"
    preload="none">
</meting-js>

<br>
<br>
<br>

<h1>华语好听</h1>   
<br>
<meting-js
    server="netease"
    type="playlist"
    id="6737470233"
    autoplay="false"
    theme="#CC0000"
    list-max-height="340px"
    preload="none">
</meting-js>