---
layout: default
title: Gallery
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<style TYPE="text/css">
.gallery-wrapper {
  width: 100%;
  text-align: center;
  padding: 1em 0 1em 0;
}
.gallery-best-image{
  height: 280px;
}
.gallery{
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3));
}
</style>

<!-- Main Content -->
  <div class="gallery">
    {% assign rows = page.galleries.size | divided_by: 3 %}
    {% assign modulo = page.galleries.size | modulo: 3 %}
    {% assign rows = rows | plus: modulo | minus: 1 %}
    {% for i in (0..rows) %}
      <div class="row">
          {% for j in (0..2) %}
            {% assign idx = i | times: 3 %}
            {% assign idx = idx | plus: j%}
            {% if idx >= page.galleries.size %}
              {% break %}
            {% else %}
              <div class="col-lg-4">
                {% assign gallery = page.galleries[idx]%}
                  <div class="gallery-wrapper">
                    <a href="{{ gallery['gallery'] }}">
                      <img class="gallery-best-image" src="{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}">
                    </a>
                    <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
                    {{ gallery["images"] | size }} image{% if gallery["images"].size != 1 %}s{% endif %}
                  </div>
              </div>
            {% endif %}
          {% endfor %}
      </div>
    {% endfor %}
    </div>
